.container {
  text-align: center;
  background-color: rgb(13, 29, 44);
  color: rgb(245, 224, 150);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.champions {
  display: flex;
  flex-direction: column;
  align-items: center;
}